table {
  width: 800px;
}
table,
th,
td {
  /*border: 2px solid black;*/
  border-bottom: 2px solid silver;
  border-collapse: collapse;
}
td,
th {
  text-align: center;
  padding: 10px;
  vertical-align: middle;
}

tbody,
tr:hover {
  background: silver;
}

thead tr {
  background: brown;
  color: white;
}

/*CSS for add new People*/

div.alfa-add-people-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
}

input[type=text],input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}